
header {
    background-color: navy;
    color: white;
    padding: 25px;
}

main {
    border: solid 1px black;
    padding: 25px;
}

footer {
    background-color: black;
    color: white;
    padding: 25px;
}

